    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .winner {
        width: 100%;
        font-size: 50px;
        margin: auto;
        text-align: center;
    }
    
    @import "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css";
    *,
    *::before,
    *::after {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
    }
    
    .alinhamento .bordinha div {
        border-left: 5px solid #cccbcb;
        border-bottom: 5px solid #cccbcb;
        float: left;
        width: 100px;
        height: 100px;
        line-height: 2;
        font-size: 3em;
        text-align: center;
    }
    
    .row div:first-child {
        border-left: 0;
        border-top: 0;
    }
    
    .last div {
        border-bottom: none;
    }
    
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    main,
    menu,
    nav,
    section,
    summary {
        display: block;
        height: 100vh!important;
    }
    
    @media (max-width: 400px) {
        article,
        aside,
        details,
        figcaption,
        figure,
        footer,
        header,
        hgroup,
        main,
        menu,
        nav,
        section,
        summary {
            display: block;
            height: 100%!important;
        }
    }